$footerHeight: 30px;

//These app styles are built around the footer
#app {
  min-height: 100%;
  margin-bottom: -1 * $footerHeight;

  &:after {
    content: '';
    display: block;
    height: $footerHeight * 2;
  }
}

footer {
  color: $hLighter;
  font-size: 14px;
  height: $footerHeight;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
  width: 100%;

  a {
    color: $hLighter;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      .a {
        color: $themePrimary;
      }

      .b {
        color: $themeSecondary;
      }

      .c {
        color: $themeTertiary;
      }
    }
  }
}
