.infoBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;

  h4 {
    align-items: center;
    color: $hDarker;
    display: flex;
    font-size: 14px;
    font-weight: 500px;
    margin: 2px;

    svg {
      color: $hDarker !important;
      margin-right: 5px;
    }
  }
}
