.infoBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;

  h4 {
    align-items: center;
    display: flex;

    svg {
      color: $hDarker !important;
      margin: auto 4px;
    }
  }
}
