//Profile.jsx

.profileBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  width: 100%;

  h2 {
    font-size: 24px;
    font-weight: 500;
  }

  form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    @media screen and (min-width: 720px) {
      align-items: center;
      width: 500px;
    }

    .RaisedButtonProfile {
      margin-top: 5px;

    }
  }
}
