//root, body

* {
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

body {
  //  background: url('../img/single-book.jpg');
  margin-bottom: 100px;
}

h2 {
  color: $hLighter;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}
