//SignupLoginPage.jsx

.loginFlatButton {
  margin-top: 7px;
}

.signupFlatButton {
  color: #ffffff;
  margin-top: 7px;
}

.homeFlatButton {
  margin-top: 7px;
}

.AvLibraryBooks {
  margin-top: 12px;
}
