//Colors
$footerHeight: 30px;
$white: #f6f8fa;
$hDarker: rgba(0, 0, 0, 0.8);
$hLighter: rgba(0, 0, 0, 0.54);
$themePrimary: rgba(0, 188, 212, 1);
$themeSecondary: rgba(255, 64, 129, 1);
$themeTertiary: rgba(0, 200, 83, 1);
