.welcomeContent {
  align-items: center;
  display: flex;
  height: 70vh;
  justify-content: center;

  margin: 10px 0;
  width: 100%;

  .welcomeChild {
    img {
      height: 300px;
      margin-bottom: -20px;
    }

    a {
      color: $hLighter;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        color: $themeSecondary;
      }
    }
  }
}
