//WhichButton.jsx

.bookOverlay {
  left: 160px;
  position: relative;
  top: 52px;
  width: 50px;
}

.approveDeny {
  display: flex;
  justify-content: center;
  left: 118px;
  position: relative;
  top: 52px;
  width: 100px;
}

.approveDenyStyle {
  margin-left: -10px;
  margin-right: -10px;
}
