@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  font-family: 'Roboto', sans-serif;
}

.books {
  align-items: center;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.allBooksHeader {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-top: -37px;
}

.welcomeName {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  text-transform: uppercase;
  top: 25px;
  right: 58px;
  vertical-align: inherit;
}
.expanded {
  right: 525px;
}
.navButtons {
  top: 6px;
}
a {
  text-decoration: none;
}

.bookOverlay {
  position: relative;
  left: 160px;
  top: 52px;
  width: 50px;
}

.approveDeny {
  position: relative;
  left: 118px;
  top: 52px;
  width: 100px;
  display: flex;
  justify-content: center;
}
